.poke-card-container {
    perspective: 1000px;
    width: 250px;
    height: 400px;
    position: relative;
    margin: 20px;
}

.poke-card-front, .poke-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.poke-card-back {
    transform: rotateY(180deg);
    background-color: grey;
    color: white;
}

.poke-card-container.flipped .poke-card-front {
    transform: rotateY(180deg);
}

.poke-card-container.flipped .poke-card-back {
    transform: rotateY(0);
}

.card-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.poke-card-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}