.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.submit-button {
    -webkit-appearance: none;
    border: 2px solid #ffcc00;
    outline: none;
    padding: 10px;
    width: 75px;
    line-height: 30px;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #ffcc00;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: 50%;
    animation: spin 1s linear infinite;
    margin: 2rem auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.no-results {
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    color: #888;
}

